body{
    background-color: rgb(34, 31, 31);
}

h1, h2, p, label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#center{
    margin-top: 150px;
    text-align: center;
}

#file-input {
    display: none;
}

#file-input-label {
    font-size: 1.3em;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 4%;
    cursor: pointer;
}

.but{
    font-size: 1.3em;
    background-color: rgb(34, 31, 31);
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
}

#file-input-all{
    margin-top: 11px;
}

.presentation{
    border-radius: 10px;
    border: 2px solid white;
    width: 40%;
    padding: 0px 10px;
    display: block;
    height: 320px;
    margin-top: 25px;
}

.content{
    margin-left: 20px;
}

.myProgress {
    width: 200px;
    background-color: rgb(34, 31, 31);
    border: 1px solid white;
}
  
.myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#main-time{
    text-align: center;

}

#r1{
    display: block;
}